<app-lateral-menu></app-lateral-menu>
<div class="row floatWindow">
  <div
    class="info search-results"
    infiniteScroll
    [infiniteScrollDistance]=".4"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
    [scrollWindow]="false"
  >
    <table class="table table-hover">
      <thead class="T-Head tsmall">
        <tr>
          <th class="id" scope="col">Id</th>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col">Gender</th>
          <th scope="col">View</th>
        </tr>
      </thead>
      <thead class="T-Head vsmall">
        <tr>
          <th class="vsmall" scope="row">Characters</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let character of ListCharacters">
          <td class="id" (click)="loadCharacter(character.id)">{{ character.id }}</td>
          <!-- <td> <img [lazyLoad]=character.image class="imgproducto"/></td> -->
          <td (click)="loadCharacter(character.id)">
            <img  [ngSrc]=character.image  width="70"  height="70" fetchpriotity="auto"  loading="lazy"  alt="image character"/>
          </td>
          <td class="name" (click)="loadCharacter(character.id)">
            <p class="name" [title]="character.name">{{ character.name }}</p>
          </td>
          <td (click)="loadCharacter(character.id)">{{ character.status }}</td>
          <td (click)="loadCharacter(character.id)">{{ character.gender }}</td>
          <td>
            <i class="fa-sharp fa-solid fa-circle-play fa-2x" (click)="viewEpisodes(character.id)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="button">
    <i
      title="Add Character"
      class="fa-sharp fa-regular fa-circle-plus fa-2x"
      (click)="newCharacter()"
    ></i>
  </div>
</div>

  <app-modal-data
    [ListCharacters]="ListCharacters"
    [modalData]="DataCharacter"
    [modalCUD]="CUD"
    [Pages]="Pages"
    (newListCharacters)="ListCharacters=$event">
  </app-modal-data>

  <app-view-episode
    [imgCharacter]="imageCharacter"
    [nameCharacter]="nameCharacter"
    [maxloadCharacter]="maxloadCharacter"
    [ViewEpisode]="ViewEpisode"
    (cleanViewEpisode)="ViewEpisode=$event">
  </app-view-episode>
