<app-lateral-menu></app-lateral-menu>
<div class="row floatWindow">
  <div class="info">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th style="width: 100px;" scope="col">Id</th>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col">Gender</th>
          <th scope="col">View</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let character of ListCharacters" >
          <td style="width: 100px;">{{ character.id }}</td>
          <td> <img [lazyLoad]=character.image class="imgproducto" alt="Angular" /></td>
          <td>{{ character.name }}</td>
          <td>{{ character.status }}</td>
          <td>{{ character.gender }}</td>
          <td><i class="fa-sharp fa-solid fa-circle-play fa-xl" (click)="View(character.id)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <div class="button">
    <div class="new" title="Add Product" (click)="OpenModal()">
      <i class="fa-sharp fa-regular fa-plus fa-lg"></i>
    </div>
  </div> -->
</div>
