<div
  class="modal fade"
  id="view-episode"
  tabindex="-1"
  aria-labelledby="view-episode"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-body">
    <div class="modal-content">
      <div class="modal-header">
        <div class="header-view col-11">
          <div class="row form-group col-12">
            <div class="row">
              <div class="photo form-group col-12 col-md-3">
                <img [src]="imgCharacter" fetchpriotity="auto" loading="lazy" alt="image character"/>
              </div>
              <div class="text form-group col-12 col-md-9">
                <h3 [title]="nameCharacter">{{ nameCharacter }}</h3>
              </div>
            </div>
          </div>
        </div>
        <div type="button" class="btn-shut form-group col-1" title="close" (click)="closeModal()">
          <h1>&times;</h1>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="modal-body">
            <div class="episode row" *ngFor="let episode of ViewEpisode">
              <label class="etiqueta col-form-label">Episodio {{episode.id}}</label>
              <div class="form-group col-12 col-md-12">
                <div class="row data-name">
                  <div class=" form-group col-12 col-md-3">
                    <label class="field-title col-form-label">Name:</label>
                  </div>
                  <div class=" form-group col-12 col-md-9">
                    <label class="col-form-label">{{episode.name}}</label>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-12 col-md-6">
                    <div class="row">
                      <div class="form-group col-6">
                        <div class="row">
                          <div class=" form-group col-8 col-sm-6 col-md-12">
                            <label class="field-title col-form-label">Season:</label>
                          </div>
                          <div class=" form-group col-4 col-sm-6 col-md-12">
                            <label class="field-data col-form-label">{{episode.episode.slice(1,3)}}</label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-6">
                        <div class="row">
                          <div class=" form-group col-8 col-sm-6 col-md-12">
                            <label class="field-title col-form-label">Chapter:</label>
                          </div>
                          <div class=" form-group col-4 col-sm-6 col-md-12">
                            <label class="field-data col-form-label">{{episode.episode.slice(4,6)}}</label>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="form-group col-12 col-md-6">
                    <div class="row">
                      <div class=" form-group col-5 col-md-12">
                        <label class="field-title col-form-label">Air Date:</label>
                      </div>
                      <div class=" form-group col-7 col-md-12">
                        <label class="col-form-label">{{episode.air_date}}</label>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
