@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.nav {
  width: 300px;

}

ul,
li {
  list-style: none;


}

#menulateral {
  width: 175px;
  height: 100vh;
  position: absolute;
  top: 0;
  background: #29292b;
  color: white;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid rgba(46, 41, 51, 0.08);
  position: fixed;
  width: 100%;
  z-index: 2;
  background: aliceblue;
}

.logo {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px auto;
  width: 100%;
  min-height: 60px;
  padding: 0px 1.5rem;
}

a {
  background-color: transparent;
}
.home-icon {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  z-index: 10;
}

.iAukjk {
  color: rgb(51, 51, 51);
  border: none;
}
.Lateral {
  position: sticky;
  top: 60px;
  padding: 1.5rem;
  border-right: 1px solid rgba(46, 41, 51, 0.08);
  min-width: 260px;
  height: calc(100vh - 60px);
  overflow-y: auto;
}

