<div
  class="modal fade"
  id="data-character"
  tabindex="-1"
  aria-labelledby="data-character"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-body">
    <div class="modal-content">
      <div class="modal-header">
        <div class="header-view col-11">
          <div class="row form-group col-12">
            <div class="row">
              <div class="photo form-group col-12 col-md-3">
                <img
                  [lazyLoad]="image"
                  fetchpriotity="auto"
                  alt="image character"
                />
              </div>
              <div *ngIf="name != ''" class="text form-group col-12 col-md-9">
                <h3 [title]="name">{{ name }}</h3>
              </div>
              <div *ngIf="name == ''" class="text form-group col-12 col-md-9">
                <h3 title="New Character">New Character</h3>
              </div>
            </div>
          </div>
        </div>
        <div
          type="button"
          class="btn-shut form-group col-1"
          title="close"
          (click)="closeModal()"
        >
          <h1>&times;</h1>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="modal-body">
            <div class="row">
              <div class="row">
                <div class="col-form-label col-12">
                  <label class="col-form-label">Id:</label>
                  <input
                    type="text"
                    class="form-control"
                    title="Id"
                    *ngIf="!modalCUD"
                    [(ngModel)]="id"
                    placeholder="Id"
                    required
                  />
                  <input
                    type="text"
                    class="form-control"
                    title="Id"
                    *ngIf="modalCUD"
                    [(ngModel)]="id"
                    placeholder="Id"
                    disabled
                  />
                </div>
                <div class="form-group col-12">
                  <label for="message-text" class="col-form-label">Name:</label>
                  <input
                    class="form-control"
                    title="Name"
                    [(ngModel)]="name"
                    placeholder="Name"
                  />
                </div>
              </div>
              <div class="row">
                <div class="Selects form-group col-12 col-sm-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Status:</mat-label>
                    <mat-select
                      [(ngModel)]="status"
                      title="Status"
                      placeholder="Status"
                    >
                      <option label=" -- Select something -- "></option>
                      <mat-option
                        *ngFor="let Status of ListStatus"
                        [value]="Status.field"
                      >
                        {{ Status.field }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="Selects form-group col-12 col-sm-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Gender:</mat-label>
                    <mat-select
                      [(ngModel)]="gender"
                      title="Gender"
                      placeholder="Gender"
                    >
                      <option label=" -- Select something -- "></option>
                      <mat-option
                        *ngFor="let Gender of ListGender"
                        [value]="Gender.field"
                      >
                        {{ Gender.field }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          *ngIf="!modalCUD"
          type="button"
          class="btn btn-s btn-primary"
          title="Save"
          (click)="Save()"
        >
          Save
        </button>
        <div class="row btn-ud" *ngIf="modalCUD">
          <button
            type="button"
            class="btn btn-primary col-6 col-md-6"
            title="Update"
            (click)="Update()"
          >
            Update
          </button>
          <button
            type="button"
            class="btn btn-danger col-6 col-md-6"
            title="Delete"
            (click)="Delete()"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
